<div class="modal" tabindex="-1" role="dialog" id="beneficiarioModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Beneficiários</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="beneficiarioInsert" method="post">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nome">CPF:</label>
                                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 000.000.000-00" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="Id" name="Id" readonly hidden />
                            <input type="text" id="ClientId" name="ClientId" readonly hidden />
                            <button type="submit" class="btn btn-success" style="margin-top:20px">Salvar</button>
                        </div>
                    </form>
                    <form id="beneficiarioAlter" method="post">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nome">CPF:</label>
                                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 000.000.000-00" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="Id" name="Id" readonly  hidden/>
                            <input type="text" id="ClientId" name="ClientId" readonly  hidden/>
                            <button type="submit" class="btn btn-success" style="margin-top:20px">Salvar</button>
                            <button class="btn btn-danger" style="margin-top:20px" onclick="cancelEdit()">Cancelar</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">CPF</th>
                                    <th scope="col">Opções</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
